.index {

  min-height: 600px;
  background-image:url("images/captains.jpg");
  background-size: cover;
font-family: 'Knewave', cursive;
text-align: center;

}

body{

}

.navbar-default .navbar-nav>li>a {
  font-size: 36px;
  color: #590eba;
  padding-top: 20px;
  background-size: cover;
  background-color: black;
  text-align: center;

}

h5{
  color: white;
  font-size: 100px;
}

h6{
  color:white;
  font-size: 60px;
}


h7{
text-align: center;
  color:gray;
  font-size: 40px;


}

h2{
  color:black;
  font-size: 20px;
  text-align: center;
}
